
#portlet-meteo dd {
	padding: 4px;
}

.meteoForecast {
	width: 100%;
}

.meteoForecast td {
	padding: 1px 0;
}

.meteoForecast img {
	border: 1px solid #ccc;
	/*border: 3px double #B5D3E2;*/
}

.meteoLegal {
	color: #76797C;
	font-size: 90%;
	margin: 1em 0;
}

.meteoSource {
	text-align: right;
}

.meteoError {
	color: #FF7400;
}

.meteoBlue {
	color: blue;
}

.meteoRed {
	color: red;
}

.meteoItalic {
	font-style: italic;
}

.meteoRightText {
	text-align: right;
}

.meteoCenterText {
	text-align: center;
}

#inmWrapperIframe {
	margin-top: 1em;
	width: 703px;
	border: 1px solid
}
