
#portlet-meteo dd {
	padding: 4px;
}

#portlet-meteo table {
	width: 100%;
}

#portlet-meteo table td {
	padding: 1px 0;
}

#portlet-meteo img {
	border: 1px solid #ccc;
}

#portlet-meteo-legal {
	text-align: right;
}

#portlet-meteo-legal a {
	border-bottom: 1px dotted #ccc;
}

#portlet-meteo-single td {
	text-align: center;
	width: 50%;
}

#portlet-meteo-single td.meteoDay {
	text-align: left;
}

.meteoLegal {
	color: #76797C;
	font-size: 90%;
	margin: 1em 0;
}

.meteoSource {
	text-align: right;
}

.meteoError {
	color: #FF7400;
}

.meteoBlue {
	color: blue;
}

.meteoRed {
	color: red;
}

.meteoItalic {
	font-style: italic;
}

#wrapperIframe {
	margin-top: 1em;
	width: 703px;
	border: 1px solid
}
