
#inmWrapper {
	margin-top: 1em;
    width: 668px;
}

#inmWrapper2 {
	margin-top: 1em;
	background-color: #ffd700;
	width: 723px;
	border: 1px solid
}

#portlet-weather dd {
	padding: 4px;
}

.meteoForecast {
	width: 100%;
}

.meteoForecast td {
	padding: 1px 0;
}

.meteoForecast img {
	border: 3px double #B5D3E2;
}

.meteoLegal {
	color: #76797C;
	font-size: 90%;
	margin: 1em 0;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.centerText {
	text-align: center;
}


<!-- -->

TD.titfilgen {
   border-style: solid;
   border-width: 1px 1px 1px 1px;
   border-color: #7799DD;
   background-color: #7799DD;
}


TD.titfil {
/*   border-style: solid; */
/*   border-width: 1px 0px 1px 1px; */
/*   border-color: #7799DD; */
   background-color: #7799DD;
   text-align: left;
   color: #FFFFFF;
   font-size: 11px;
   font-weight: bold;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfil_13 {
/*   border-style: solid; */
/*   border-width: 1px 0px 1px 1px; */
/*   border-color: #7799DD; */
   background-color: #7799DD;
   text-align: left;
   color: #FFFFFF;
   font-size: 13px;
   font-weight: bold;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfil_11 {
/*   border-style: solid; */
/*   border-width: 1px 0px 1px 1px; */
/*   border-color: #7799DD; */
   background-color: #7799DD;
   text-align: left;
   color: #FFFFFF;
   font-size: 11px;
   font-weight: bold;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfil2 {
   background-color: #EEEEEE;
   text-align: left;
   color: #7799DD;
   font-size: 11px;
   font-weight: normal;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfilcenter {
   background-color: #EEEEEE;
   text-align: center;
   color: #7799DD;
   font-size: 11px;
   font-weight: normal;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfilright_11 {
   text-align: right;
/*   border-style: solid; */
/*   border-width: 1px 1px 1px 0px; */
/*   border-color: #7799DD; */
   background-color: #7799DD;
   color: #FFFFFF;
   font-size: 11px;
   font-family:  Helvetica, Arial, Sans-serif;
}

TD.titfilright_9 {
   text-align: right;
/*   border-style: solid; */
/*   border-width: 1px 1px 1px 0px; */
/*   border-color: #7799DD; */
   background-color: #7799DD;
   color: #FFFFFF;
   font-size: 9px;
   font-family:  Helvetica, Arial, Sans-serif;
}
